body{
    background-image: url("https://images.alphacoders.com/265/thumb-1920-265693.png");
    background-size: 100% 100%;
    width: 100vw;
    background-repeat: no-repeat;
    background-position : center center ;
    background-attachment : fixed ;
    background-size : cover ;
    max-height: 720px;
    }
  .account-settings .user-profile {
      margin: 0 0 1rem 0;
      padding-bottom: 1rem;
      text-align: center;
      color: #fff;
      
  }
  .account-settings .user-profile .user-avatar {
      margin: 0 0 1rem 0;
  }
  .account-settings .user-profile .user-avatar img {
      width: 90px;
      height: 90px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
  }
  .account-settings .user-profile h5.user-name {
      margin: 0 0 0.5rem 0;
  }
  .account-settings .user-profile h6.user-email {
      margin: 0;
      font-size: 0.8rem;
      font-weight: 400;
      
  }
  .account-settings .about {
      margin: 1rem 0 0 0;
      font-size: 0.8rem;
      text-align: center;
      
  }
  .card {
      background-color: transparent!important;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 0;
      margin-bottom: 1rem;
      text-align: center!important;
   
  }
  .form-control {
      border: 2px solid rgb(0, 0, 0)!important;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      font-size: .825rem;
      background: #1A233A;
      color: #fff;
      background-color: #fff!important;
      width: 90%!important;
      margin-top: 100%!important;
      margin-left: 35%!important;
      
  }

  
.mt15{

  margin-top: 20%!important;
}

.btn-primary {
  background: rgb(255, 255, 255)!important;
  border-radius: 50px;
  width: 100% !important;
  display: inline;
  border-color: #000!important;
  color: #000!important;
  border: 2px solid #000!important;

 
}

.btn-primary:focus {
  box-shadow: none;
  border: none
}

.button-primary-override:hover, 
.button-primary-override:active,
.button-primary-override:visited{
    background-color: #42A5F5 !important;
    border-color: #42A5F5 !important;
    background-image: none !important;
    border: 0 !important;
}

.col-6{

    color: #000 !important;
}

input{

    margin-top: 50%!important;
  
}

.btn-change_password{

    margin-top: 10%!important;

}

.mark-gray{

background-color: gray!important;

}


.align-center{
    margin-left: 25%!important;
    width: 50%!important;
    height: 80%!important;
    color: #fff;
    text-align: center!important;
}  


.mt-15{

    margin-top: 10%!important;
    
}

.img-user{
width: 190px!important;
height: 190px!important;
border-radius: 100%;

}
