<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="static/css/edit-profile.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <script src="https://kit.fontawesome.com/8b0a50c0df.js" crossorigin="anonymous"></script>
   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">      
</head>
<body>
    <div class="container dotransparent">
        <div class="row gutters mt15">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    {% if filename %}
                                    <div>
                                      <img src="static/img_user/{{filename}}" width="500"> 
                                    </div>  
                                
                                    {% else %}   
                                
                                    
                                    <img src="static/img_user/default_profile_pic.png" width="200"> 
                                
                                 
                                
                                    {% endif %}         


                                
                                </div>
                                <h5 class="user-name">{{ data.username }}</h5>
                                <h6 class="user-email">{{ data.email }}</h6>
                            </div>
                            <div class="about">
                                <a href="/profile"><button type="button" class="btn btn-block btn-primary btn-lg btn from-top  mark-gray"><small class="col-6"><i class="fa-solid fa-address-card"></i> Editar Perfil</small></button></span></a><br>
                                <a href="/picture"><button type="button" class="btn btn-block btn-primary btn-lg btn from-top"><small class="col-6"><i class="fa-solid fa-images"></i> Alterar foto</small></button></span></a><br>
                                <a href="/forgot_password"><button type="button" class="btn btn-block btn-primary btn-lg btn from-top"><small class="col-6"><i class="fa-solid fa-key"></i> Alterar senha</small></button></span></a><br>
                                <a href="/main"><button type="button" class="btn btn-block btn-primary btn-lg btn from-top"><small class="col-6"><i class="fa-solid fa-arrow-left-long"></i>  Voltar a pagina inicial</small></button></span></a><br>    
                                <p></p>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="texto">
                <form action="/change_credentials" method="POST">
                                   <div class="menu-right">
                                       <h5 class="status">Altere o seu username</h5>
                                    <div class="align-center"><input type="text" class="form-control" id="username" name="username" placeholder="{{ data.username }}"></div>
                                       <h5 class="status">Altere o seu e-mail para um novo e-mail</h5> 
                                    <div class="align-center"><input type="email" class="form-control" id="email" name="email" placeholder="{{ data.email }}"></div>
                                    <h5 class="status">Confirme o seu novo e-mail</h5> 
                                    <div class="align-center"><input type="email" class="form-control" id="email" name="confirm_email" placeholder="{{ data.email }}"></div>
                                   </div> <br>

                                   {% with messages =  get_flashed_messages(category_filter=["error_email_1"]) %}
                                   {% if messages %}
                                       {% for message in messages %}
                                       <div class="message_alert">
                                           <div class="alert alert-danger show col "><br>
                                               <strong>{{ message }}!</strong><br>
                                           </div>
                                       </div>
                                       {% endfor %}
                                   {% endif %}
                                   {% endwith %}

                                   {% with messages =  get_flashed_messages(category_filter=["error_email_2"]) %}
                                   {% if messages %}
                                       {% for message in messages %}
                                       <div class="message_alert">
                                           <div class="alert alert-danger show col "><br>
                                               <strong>{{ message }}!</strong><br>
                                           </div>
                                       </div>
                                       {% endfor %}
                                   {% endif %}
                                   {% endwith %}

                                   {% with messages =  get_flashed_messages(category_filter=["error_username_1"]) %}
                                   {% if messages %}
                                       {% for message in messages %}
                                       <div class="message_alert">
                                           <div class="alert alert-danger show col "><br>
                                               <strong>{{ message }}!</strong><br>
                                           </div>
                                       </div>
                                       {% endfor %}
                                   {% endif %}
                                   {% endwith %}

                                   {% with messages =  get_flashed_messages(category_filter=["error_username_2"]) %}
                                   {% if messages %}
                                       {% for message in messages %}
                                       <div class="message_alert">
                                           <div class="alert alert-danger show col "><br>
                                               <strong>{{ message }}!</strong><br>
                                           </div>
                                       </div>
                                       {% endfor %}
                                   {% endif %}
                                   {% endwith %}



                                   <button type="submit" class="btn btn-block btn-main btn-lg btn from-top">Alterar</button>
                </form>          
                        </div>
               
                       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

  

</body>
</html>